<div class="gallery-container">
  <!-- Header -->
  <header class="sticky-header">
    <button class="menu-button rainbow_text_animated_menu" (click)="shop()">MERCH</button>
    <button class="menu-button rainbow_text_animated_menu" (click)="home()">HOME</button>
    <button class="menu-button rainbow_text_animated_menu" (click)="game()">GAME</button>
  </header>

  <div class="gallery-content">
    <button class="arrow left-arrow" (click)="prevImage()">&#10094;</button>
    <div class="image-container">
      <img [src]="images[currentImage]" alt="Gallery Image">
    </div>
    <button class="arrow right-arrow" (click)="nextImage()">&#10095;</button>
  </div>
</div>