

  
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #494b57;
  }
  
  .gallery-container {
    background-color: #494b57;
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Keep this to reduce space above */
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0; /* Ensure there's no padding at the bottom */
}

.gallery-content {
  position: relative;
  flex-grow: 1; /* This allows the gallery content to grow and take available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-header {
    margin-bottom: 10px; /* Reduce margin-bottom */
    position: relative;
}
  
  .home-button {
    background-color: #494b57;
    color: #85C1E9;
    text-align: center;
    padding: 10px 90px;
    border-radius: 5px;
    cursor: pointer; 
    border: none;
    font-size: 2em;
  }
  
  .home-button:hover {
    background-color: #000000;
    color: #85C1E9; 
    cursor: pointer; /* Ensures the cursor remains a pointer on hover */
  }
  
  .gallery-content {
    position: relative;
    overflow: hidden;
  }

  .image-container {
    width: 80vw;
    height: calc(70vh - 60px); /* Increase height of the image container to use more space */
    overflow: hidden;
}
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  