<!-- <div class="game-container">
    <div class="dino" [class.jump]="isJumping"></div>
    <div class="obstacle" [style.animation-play-state]="gameRunning ? 'running' : 'paused'"></div>
  </div>
  <p>game works!</p>
  <button class="home-button" (click)="goHome()">Home</button>
  <button (click)="startGame()">Start Game</button>
  <p *ngIf="gameOver">Game Over! <button (click)="resetGame()">Try Again</button></p> -->




<button class="home-button" (click)="goHome()">Home</button>
<div class="scratch-game-container">
    <iframe src="https://scratch.mit.edu/projects/51462212/embed" width="100%" height="100%"></iframe>
</div>
