<div class="topcontainer">
    <div class="header">
      <div class="tempcontainer">
        <h1>Nelson Installations</h1>
        <p><br></p>
        <p>Serving the internal construction BE MORE DETAILED HERE SLIGHTLY needs of the Tennessee area for 6 years! 
          text and spacing text so it looks nice i am writing text ayyo bruh machine learning is cool
        </p>
      </div>
      <div class="textwimagecontainer">
        <div class="text-section">
          <p *ngIf="language === 'en'">Hacer clic en el pero para Español</p>
          <p *ngIf="language === 'sp'">Click on the dog for English</p>
        </div>
        <div class="image-section">
          <img class="img" src="assets/img/doggie.png" (click)="toggleLangugae()" alt="image">
        </div>
      </div>
      <div class="button-container">
        <button class="gallerybutton" (click)="second()">GALLERY</button>
        <button class="gallerybutton" (click)="second()">GALLERY</button>
        <button class="gallerybutton" (click)="second()">GALLERY</button>
        <button class="gallerybutton" (click)="second()">GALLERY</button>
      </div>
    </div>
    <div class="imagetop">
        <img class="img" src="assets/img/IMG_0720.PNG" alt="image">
    </div>

</div>
  
  <div class="content">
    <section class="about-us">
      <h2>About Us</h2>
      <p>
        JD Installations is the (east coast's) top construction company.
      </p>
      <button class="gallerybutton" (click)="second()">GALLERY</button>
      
  
    </section>
  
    <section class="services">
      <h2>Our Services</h2>
      <ul>
        <li>Residential Construction</li>
        <li>Commercial Construction</li>
        <li>Renovations and Remodeling</li>
        <li>Custom Installations</li>
        <li>Project Management</li>
      </ul>
    </section>
  
    <section class="contact-us">
      <h2>Contact Us</h2>
      <p>For inquiries and quotes, reach out to us:</p>
      <p>Email: sampleEmail&#64;gmail.com </p>
      <p>Phone: +1 (123) 456-7890</p>
    </section>
  </div>