<div class="background-image">
  <div class="overlay">
    <h1>A&D Handymen</h1>
    <p>Cool motto here</p>
    <div class="button-group">
      <button class="todo" (click)="second()">GALLERY</button>
    </div>
  </div>
</div>

<section class="services">
  <h2>Our Services</h2>
    <li><div class="service-item">Laminate Flooring</div></li>
    <li><div class="service-item">Bathroom Remodeling</div></li>
    <li><div class="service-item">Plumbing</div></li>
    <li><div class="service-item">Tiles</div></li>
    <li><div class="service-item">Backsplash</div></li>
    <li><div class="service-item">Electric Work</div></li>
    <li><div class="service-item">Drywall</div></li>
    <li><div class="service-item">Carpentry</div></li>
    <li><div class="service-item">Wood Repair</div></li>
    <li><div class="service-item">Pressure Washing</div></li>
    <li><div class="service-item">Residential Construction</div></li>
</section>