<!-- <div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/406W65P-hkQ" title="temp player" frameborder="0" allow=
  "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
  picture-in- 
  picture" allowfullscreen></iframe>
</div> -->

<!-- src="../../assets/img/oneko.gif" -->

<div (mousemove)="onMouseMove($event)">
  <img
    [src]="imageSrc"
    [ngStyle]="{ top: gifPosition.y + 'px', left: gifPosition.x + 'px' }"
    class="cursor-follow-gif"
  />
  
<div>
  <header class="sticky-header">
    <button class="menu-button rainbow_text_animated" (click)="shop()">MERCH</button>
    <button class="menu-button rainbow_text_animated" (click)="second()">GALLERY</button>
    <button class="menu-button rainbow_text_animated" (click)="game()">GAME</button>
  </header>
</div>

<!-- cool animal stuff todo  -->


<div class="title-logo">
  <img src = "../../assets/img/logo1.jpg" alt="bedrumor logo" class="logo-image" />
</div>

<div class="video-container">
  <iframe
    src="https://www.youtube.com/embed/406W65P-hkQ"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>

<div class ="socials-container-big">
  <div class="socials-container-title">
    <h1 class="rainbow_text_animated">check out our socials</h1>
  </div>
  <div class = "socials-links">
    <div class="links-link">
      <a href="https://www.instagram.com/bedrumor/" target="_blank">instagram</a>
    </div>
    <div class="links-link">
      <a href="https://www.instagram.com/bedrumor/" target="_blank">spotify</a>
    </div>
    <div class="links-link">
      <a href="https://www.instagram.com/bedrumor/" target="_blank">soundcloud</a>
    </div>
  </div>
</div>

<!-- <div class ="upcoming-events-container">
  <div class="upcoming-events-title">
    <h1>UPCOMING EVENTS</h1>
</div> -->

<div class="upcoming-events-container">
  <div class="upcoming-events-title">
    <h1 class="rainbow_text_animated">come see us play!</h1>
  </div>
  <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?src=17f1c42578867c060b9fb39e9462609cb2dffc56bdd34d860fb521ae1e152ff2%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="600" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>

<div class="todo">
  <h1>about us section??? Idk like bios or something?</h1>
</div>

<div class="todo">
  <h1>maybe a lil mini gallery or something?</h1>
</div>















<!-- <footer class="sticky-footer">
  <p>Call Us At (919) 454-7507</p>
</footer> -->




<!--  DO NOT REMOVE ME THIS IS FOR THE HEART CURSOR-->
</div>